{% load static %}

<!-- 필수 CSS (CDN 불필요. FAB 아이콘은 인라인 SVG로 표기되어 외부의존 0) -->
<link rel="stylesheet" href="{% static 'insurance_portal/css/fab.css' %}">
<link rel="stylesheet" href="{% static 'insurance_portal/css/chatbot.css' %}">
<link rel="stylesheet" href="{% static 'insurance_portal/css/guide.css' %}">
<link rel="stylesheet" href="{% static 'insurance_portal/css/knowhow.css' %}">
<link rel="stylesheet" href="{% static 'insurance_portal/css/claim_knowledge.css' %}">

<!-- 우측 중앙 + FAB (햄버거 토글은 완전 제거) -->
{% include 'insurance_portal/partials/_floating_fab.html' %}

<!-- 기존 모달/레이어 (삭제 금지: 기존 기능 그대로 유지) -->
{% include 'insurance_portal/partials/_guide_modal.html' %}
{% include 'insurance_portal/partials/_knowhow_modal.html' %}
{% include 'insurance_portal/partials/_claim_knowledge.html' %}
{% include 'insurance_portal/partials/_chatbot.html' %}
{% include 'insurance_portal/partials/_fault_answer.html' %}

<!-- 필요한 JS만 로드 (햄버거 관련 로더/포털 스크립트는 절대 로드 안 함) -->
<script src="{% static 'insurance_portal/js/navigation_handler.js' %}"></script>
<script src="{% static 'insurance_portal/js/fab-controller.js' %}"></script>
<script src="{% static 'insurance_portal/js/guide.js' %}"></script>
<script src="{% static 'insurance_portal/js/knowhow.js' %}"></script>
<script src="{% static 'insurance_portal/js/claim_knowledge.js' %}"></script>
<script src="{% static 'insurance_portal/js/chatbot.js' %}"></script>
